body {
    background-image: url('pro.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

a {
    color: rgb(195, 206, 216);
    text-align: left;
}

.icons{
    text-align: center;
}
.icons a{
    text-decoration: none;
    margin-right: 20px;
}
.fa-solid.fa-house.fa-3x{
    color:rgb(223, 209, 187)
}
.fa-solid.fa-envelope.fa-3x{
    color:rgb(196, 156, 127)
}
.fa-brands.fa-goodreads-g.fa-3x{
    color: rgb(112, 46, 46);
}

.H1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
    color: rgb(195, 206, 216);
    text-align: center;
    margin-top: 20px;
}

.p1 {
    text-align: left;
    font-size: 20px;
    font-family: cursive;
    color: rgb(238, 245, 245);
    max-width: 800px;
    margin: auto;
}

#bordered {
    text-align: center;
    border: 2px solid white;
    padding: 30px 30px;
    border-radius: 6px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.3); /* Optional: translucent background */
}

.box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Space between Asia and Europe */
    margin-top: 40px;
    font-size: xx-large;
}
.box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Space between Asia and Europe */
    margin-top: 40px;
    font-size: xx-large;
}


